* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
body {
    background: rgb(255,255,255);
    background: linear-gradient(315deg, rgba(255,255,255,1) 0%, rgba(255,248,247,1) 82%);
    height: 100vh;
    color: #6d6e70;
}
#target-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38vh;
}
#target {
    height: 62%;
    aspect-ratio: 25/39;
    background-image: url('/images/backpack.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: grid;
    grid-template-columns: 132fr 190fr 53fr;
    grid-template-rows: 203fr 240fr 142fr;
}
#weight-counter {
    container: cont / size;
    grid-column: 2;
    grid-row: 2;
    color: white;
    text-align: right;
    overflow: hidden;
    direction: rtl;
    p {
        @container (height > 0px) {
            font-size: 35cqw;
            line-height: 35cqw;
        }
    }
    &.show-inventory {
        display: none;
    }
}
.separator {
    border-top: solid #6d6e70 1px;
    margin-left: 19vw;
    margin-right: 19vw;
}
.item-list{
    padding: 9vw;
    height: 62vh;
    overflow-y: scroll;
}
#source {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
}
.item {
    padding: 0.3rem;
    margin: 0.3rem;
}
#inventory {
    display: none;
}
#inventory-dialog {
    background: rgb(237,27,46);
    background: linear-gradient(146deg, rgba(237,27,46,1) 0%, rgba(255,82,99,1) 95%); 
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 25vw);
    height: calc(100% - 25vw);
    display: none;
    &.show-dialog {
        display: block;
        .out {
            display: none;
        }
    }
}