@mixin basic-pad {
    padding: 0.3rem;
    margin: 0.3rem;
}
@mixin txt-btn {
    border: 0.13rem solid white;
    color: white;
}
@mixin ico-btn {
    width: calc(25px + 0.6rem);
    display: flex;
    align-items: center;
    justify-content: center;
}
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    -webkit-tap-highlight-color: transparent;
}
body {
    background: rgb(255,255,255);
    background: linear-gradient(315deg, rgba(255,255,255,1) 0%, rgba(255,248,247,1) 82%);
    height: 100vh;
    color: #6d6e70;
}
.close{
    cursor: pointer;
}
#target-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38vh;
    position: relative;
}
#target-dialog {
    display: none;
    &.show {
        position: absolute;
        background-image: url('/images/inventory-dialog.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        height: 75%;
        aspect-ratio: 1/1;
        display: flex;
        justify-content: end;
        align-items: flex-start;
        .close {
            height: 12.6%;
            margin-top: 8%;
            margin-right: 8%;
        }
    }
}
#target {
    z-index: 1;
    height: 62%;
    aspect-ratio: 25/39;
    background-image: url('/images/backpack.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: grid;
    grid-template-columns: 132fr 190fr 53fr;
    grid-template-rows: 203fr 240fr 142fr;
    cursor: pointer;
}
#weight-counter {
    container: cont / size;
    grid-column: 2;
    grid-row: 2;
    color: white;
    text-align: right;
    overflow: hidden;
    direction: rtl;
    p {
        @container (height > 0px) {
            font-size: 35cqw;
            line-height: 35cqw;
        }
    }
    &.show-inventory {
        display: none;
    }
}
.separator {
    border-top: solid #6d6e70 1px;
    margin-left: 19vw;
    margin-right: 19vw;
}
.item-list{
    padding: 9vw;
    height: 62vh;
    overflow-y: scroll;
}
#source {
    display: none;
    &.show {
        display: flex;
        align-content: flex-start;
        flex-wrap: wrap;
    }
}
.item {
    @include basic-pad;
    cursor: pointer;
}
#inventory {
    display: none;
    &.show {
        display: flex;
        align-content: flex-start;
        flex-wrap: wrap;
    }
}
#overlay {
    display: none;
    &.show {
        display: block;
        z-index: 2;
        position: fixed;
        background: white;
        opacity:0.3;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}
.inventory-dialog {
    z-index: 3;
    background: rgb(237,27,46);
    background: linear-gradient(146deg, rgba(237,27,46,1) 0%, rgba(255,82,99,1) 95%); 
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    border-radius: 4px;
    display: none;
    &.show {
        display: grid;
        grid-template-areas: 
            ". . close"
            "item item item"
            "minus quantity plus"
            "submit submit submit";
        grid-template-columns: 1fr min-content 1fr;
        .close {
            grid-area: close;
            justify-self: end;
        }
        .selection {
            @include basic-pad;
            grid-area: item;
            display: flex;
            justify-content: center;
            cursor: default;
        }
        .minus {
            grid-area: minus;
        }
        .quantity{
            grid-area: quantity;
        }
        .plus {
            grid-area: plus;
        }
        .submit-btn {
            display: block;
            grid-area: submit;
            @include txt-btn;
            margin: 25px 0px;
        }
        justify-content: center;
        align-content: center;
        .out {
            display: none;
        }
    }
}

label {
    display: block;
    @include basic-pad;
    grid-area: q-label;
}
input {
    display: block;
    @include basic-pad;
    grid-area: quantity;
}
button {
    @include basic-pad;
    background: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    border-radius: 1.5rem;
    transition: 100ms;
}
.plus, .minus {
    @include ico-btn;
}