* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  -webkit-tap-highlight-color: transparent;
}

body {
  background: rgb(255, 255, 255);
  background: linear-gradient(315deg, rgb(255, 255, 255) 0%, rgb(255, 248, 247) 82%);
  height: 100vh;
  color: #6d6e70;
}

.close {
  cursor: pointer;
}

#target-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38vh;
  position: relative;
}

#target-dialog {
  display: none;
}
#target-dialog.show {
  position: absolute;
  background-image: url("/images/inventory-dialog.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 75%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: end;
  align-items: flex-start;
}
#target-dialog.show .close {
  height: 12.6%;
  margin-top: 8%;
  margin-right: 8%;
}

#target {
  z-index: 1;
  height: 62%;
  aspect-ratio: 25/39;
  background-image: url("/images/backpack.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: grid;
  grid-template-columns: 132fr 190fr 53fr;
  grid-template-rows: 203fr 240fr 142fr;
  cursor: pointer;
}

#weight-counter {
  container: cont/size;
  grid-column: 2;
  grid-row: 2;
  color: white;
  text-align: right;
  overflow: hidden;
  direction: rtl;
}
@container (height > 0px) {
  #weight-counter p {
    font-size: 35cqw;
    line-height: 35cqw;
  }
}
#weight-counter.show-inventory {
  display: none;
}

.separator {
  border-top: solid #6d6e70 1px;
  margin-left: 19vw;
  margin-right: 19vw;
}

.item-list {
  padding: 9vw;
  height: 62vh;
  overflow-y: scroll;
}

#source {
  display: none;
}
#source.show {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
}

.item {
  padding: 0.3rem;
  margin: 0.3rem;
  cursor: pointer;
}

#inventory {
  display: none;
}
#inventory.show {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
}
#inventory.show .item {
  flex: 1 1 50%;
}
#inventory.show .count {
  padding: 0.3rem;
  margin: 0.3rem;
}

#overlay {
  display: none;
}
#overlay.show {
  display: block;
  z-index: 2;
  position: fixed;
  background: white;
  opacity: 0.3;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.inventory-dialog {
  z-index: 3;
  background: rgb(237, 27, 46);
  background: linear-gradient(146deg, rgb(237, 27, 46) 0%, rgb(255, 82, 99) 95%);
  color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  border-radius: 4px;
  display: none;
}
.inventory-dialog.show {
  display: grid;
  grid-template-areas: ". . close" "item item item" "minus quantity plus" "submit submit submit";
  grid-template-columns: 1fr min-content 1fr;
  justify-content: center;
  align-content: center;
}
.inventory-dialog.show .close {
  grid-area: close;
  justify-self: end;
}
.inventory-dialog.show .selection {
  padding: 0.3rem;
  margin: 0.3rem;
  grid-area: item;
  display: flex;
  justify-content: center;
  cursor: default;
}
.inventory-dialog.show .minus {
  grid-area: minus;
}
.inventory-dialog.show .quantity {
  grid-area: quantity;
}
.inventory-dialog.show .plus {
  grid-area: plus;
}
.inventory-dialog.show .submit-btn {
  display: block;
  grid-area: submit;
  border: 0.13rem solid white;
  color: white;
  margin: 25px 0px;
}
.inventory-dialog.show .out {
  display: none;
}

label {
  display: block;
  padding: 0.3rem;
  margin: 0.3rem;
  grid-area: q-label;
}

input {
  display: block;
  padding: 0.3rem;
  margin: 0.3rem;
  grid-area: quantity;
}

button {
  padding: 0.3rem;
  margin: 0.3rem;
  background: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  border-radius: 1.5rem;
  transition: 100ms;
}

.plus, .minus {
  width: calc(25px + 0.6rem);
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */